:root {
  --clr-page-background: #eee;
  --gradient-pos: left;
  --clr-tr: #eee;
  --clr-English:  rgb(217, 226, 243);
  --clr-Maths:  rgb(251, 228, 213);
  --clr-Nepali:  rgb(237, 237, 237);
  --clr-Chemistry:  rgb(255, 242, 204);
  --clr-Physics:  rgb(226, 239, 217);
  --clr-cardhold: #fff;
  --clr-card: #fff;
  --clr-text: #000;
  --clr-disabled-text: #9F9F9F;
  --clr-disabled-background: #DFDFDF;
  --clr-toast-error-bg: #ffebee;
  --clr-toast-success-bg: #f1f8e9;
  --clr-toast-info-bg: #e3f2fd;
  --clr-toast-error-txt: #f44336;
  --clr-toast-success-txt: #4caf50;
  --clr-toast-info-txt: #3f51b5;
}

.darkmode {
  --clr-page-background: #212121;
  --gradient-pos: right;
  --clr-tr: #222;
  --clr-English:   rgb(12, 41, 95);
  --clr-Maths:   rgb(107, 65, 37);
  --clr-Nepali:   rgb(92, 92, 92);
  --clr-Chemistry:   rgb(99, 77, 13);
  --clr-Physics:   rgb(55, 85, 34);
  --clr-cardhold: #444;
  --clr-card: #424242;
  --clr-text: rgb(223, 223, 223);
  --clr-disabled-text: #424242;
  --clr-disabled-background: #7e7e7e;
  --clr-toast-error-bg: #b71c1c;
  --clr-toast-success-bg: #33691e;
  --clr-toast-info-bg: #0d47a1;
  --clr-toast-error-txt: #fff;
  --clr-toast-success-txt: #fff;
  --clr-toast-info-txt: #fff;
}

.gradient, nav, .footer-copyright {
  background: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(34%, #8e44ad), color-stop(65%, #333));
  background: linear-gradient(to right, #3498db, #8e44ad 34%, #333 65%);
  background-size: 300%;
  -webkit-transition: .5s;
  transition: .5s;
}

::-webkit-scrollbar {
  width: 6px;
  /* for vertical scrollbars */
  height: 6px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #9b27b02f;
}

::-webkit-scrollbar-thumb {
  background: #9b27b079;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'Product Sans', sans-serif;
}

.row {
  margin: 0;
}

#page-container {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-panel p {
  margin: 0;
}

.card-panel .title {
  font-size: 1.8rem;
  margin-bottom: .2em;
}

.card-panel .content {
  font-size: 1.2rem;
}

.card-link {
  text-align: right;
}

.card-link a {
  margin-top: .5em;
}

.card, .card-panel {
  border-radius: 1.5em;
}

.card-panel {
  margin: 1.5rem 0;
}

.card-action {
  background: transparent !important;
}

.btn {
  border-radius: 10px;
}

.normal-link:hover {
  text-decoration: underline;
}

@-webkit-keyframes move-up {
  50% {
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30vh) scale(1.25);
            transform: translateY(-30vh) scale(1.25);
  }
}

@keyframes move-up {
  50% {
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30vh) scale(1.25);
            transform: translateY(-30vh) scale(1.25);
  }
}

.navbar-fixed {
  height: calc(56px + env(safe-area-inset-top));
}

@media only screen and (min-width: 601px) {
  .navbar-fixed {
    height: calc(64px + env(safe-area-inset-top));
  }
}

nav {
  width: 100%;
  height: calc(56px + env(safe-area-inset-top));
  line-height: 56px;
  padding: env(safe-area-inset-top) 0 0 0;
  opacity: .95;
  font-family: 'Product Sans Bold', sans-serif;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 64px;
    height: calc(64px + env(safe-area-inset-top));
  }
}

.brand-logo {
  padding: 0 32px !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.brand-logo:hover {
  background: #ffffff25;
}

.col {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.container {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.page-footer {
  padding-top: 0;
  background: transparent;
}

.page-footer .footer-copyright {
  padding-bottom: calc(10px + env(safe-area-inset-bottom));
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-flex > * {
  margin: 8px;
  color: #fff;
}

.middle {
  margin-top: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardhold {
  padding: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 12px #00000088;
  box-shadow: 4px 4px 12px #00000088;
}

#login-btn,
#logout-btn {
  margin-right: 1em;
}

.popup {
  height: 2em;
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

table td, table th {
  text-align: center;
  font-size: .7em;
  border: 1px solid #bbbbbb;
  min-width: 6.4rem;
}

.join-btn {
  line-height: 2em;
  height: 2em;
  padding: 0 1em;
}

.p_teacher {
  border: 1px solid;
  border-radius: 8px;
  margin: auto;
  width: auto;
  display: inline-block;
  padding: .4em;
  padding-top: 0;
}

.routine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
}

.routine::after, .routine::before {
  content: '';
  min-width: 24px;
}

.overflow-margin {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1.5rem 0;
}

.bold {
  font-family: 'Product Sans Bold';
}

hr {
  margin: 1.2rem 0 .6rem 0;
  border: 1px #ccc solid;
}

td a.z-depth-2 {
  padding: .2rem 1rem;
  line-height: 2;
  margin: 1rem 0;
  border-radius: 1rem;
}

.card-content.flow-text {
  font-size: 1.6em;
}

.notice-text {
  font-family: 'Product Sans Bold';
  font-size: 2.4rem;
  text-align: center;
}

.item {
  margin-bottom: 0;
}

#contact {
  margin: 1em 0 2em 0;
}

td a.z-depth-2, input {
  -webkit-transition: all .2s, color .5s;
  transition: all .2s, color .5s;
}

#page-container, .card, .card-panel {
  -webkit-transition: all .2s, background-color .5s, color .5s;
  transition: all .2s, background-color .5s, color .5s;
}

th, td, tr, html {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.toast-msg.error, .toast-msg.success, .toast-msg.info {
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
}

.gradient, nav, .footer-copyright {
  background-position: var(--gradient-pos);
}

table tr:nth-child(odd) {
  background: var(--clr-tr);
}

.English {
  background: var(--clr-English);
}

.Maths {
  background: var(--clr-Maths);
}

.Nepali {
  background: var(--clr-Nepali);
}

.Chemistry {
  background: var(--clr-Chemistry);
}

.Physics {
  background: var(--clr-Physics);
}

#page-container, html {
  background: var(--clr-page-background);
}

.cardhold {
  background: var(--clr-cardhold);
}

.card, .card-panel {
  background: var(--clr-card);
  color: var(--clr-text);
}

input, textarea, td a.z-depth-2, .failed-to-load {
  color: var(--clr-text);
}

a.disabled.both-mode {
  background-color: var(--clr-disabled-background) !important;
  color: var(--clr-disabled-text) !important;
}

.toast-msg.error {
  background-color: var(--clr-toast-error-bg);
  color: var(--clr-toast-error-txt);
}

.toast-msg.success {
  background-color: var(--clr-toast-success-bg);
  color: var(--clr-toast-success-txt);
}

.toast-msg.info {
  background-color: var(--clr-toast-info-bg);
  color: var(--clr-toast-info-txt);
}

.title .regular {
  color: #32CD32;
}

.title .temporary {
  color: #FF7F50;
}
/*# sourceMappingURL=styles.css.map */