$gradient: linear-gradient(90deg, #3498db, #8e44ad);

::-webkit-scrollbar
{
    width: 6px;  /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: #9b27b02f;
}

::-webkit-scrollbar-thumb
{
    background: #9b27b079;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .05);
}

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Product Sans', sans-serif;
}

.gradient {
    background: linear-gradient(90deg, #3498db, #8e44ad);
}

.row {
    margin: 0;
}

.btn-floating {
    font-family: monospace, monospace, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#up-btn {
    transition: all .2s;
    transform: scale(0);
}

#up-btn.shown {
    transform: scale(1);
}

#page-container {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

#content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-panel p {
    margin: 0;
}

.card-panel .title {
    font-size: 1.8rem;
}

.card-panel .content {
    font-size: 1.2rem;
}

.card-link {
    text-align: right;
}

.card-link a {
    margin-top: .5em;
}

#detail .row {
    flex: 1;
}

.flex {
    display: flex;
}

.full-flex {
    flex: 1;
}

#detail .col.flex {
    height: 100%;
    flex-direction: column;;
}

.indicator {
    background-color: #9c27b0 !important;
}

.card, .card-panel {
    border-radius: 1.5em;
}

.card-panel {
    margin: 1.5rem 0;
}

.card-action {
    background: transparent !important;
}

.btn {
    border-radius: 10px;
}

.cardhold.go-up {
    animation: move-up .45s ease-in;
    animation-fill-mode: forwards;
}

.loader.hidden {
    animation: wipe .9s .2s cubic-bezier(0.145, 0.865, 0.570, 0.940);
    animation-fill-mode: forwards;
}

nav.hidden {
    transform: translateY(-100%);
    transition: all 0s;
}

.normal-link:hover {
    text-decoration: underline;
}

@keyframes move-up {
    50% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 0;
        transform: translateY(-30vh) scale(1.25);
    }
}

@keyframes wipe {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
        visibility: hidden;
    }
}

.navbar-fixed {
    height: calc(56px + env(safe-area-inset-top));
}

@media only screen and (min-width: 601px) {
    .navbar-fixed {
        height: calc(64px + env(safe-area-inset-top));
    }
}

nav {
    width: 100%;
    height: calc(56px + env(safe-area-inset-top));
    line-height: 56px;
    padding: env(safe-area-inset-top) 0 0 0;
    opacity: .95;
    background: $gradient;
    font-family: 'Product Sans Bold', sans-serif;
    // transition: all .375s 1.25s cubic-bezier(0.145, 0.865, 0.570, 0.940);
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        line-height: 64px;
        height: calc(64px + env(safe-area-inset-top));
    }
}

nav .nav-wrapper {
    background: $gradient;
}

nav .nav-wrapper ul li {
    display: flex;
}

nav .nav-wrapper ul li a {
    font-size: 24px;
    padding: 0 22px;
}

nav .nav-wrapper ul li a:hover {
    background: #ffffff25;
}

nav .sidenav-trigger {
    transform: translateX(-16px);
    padding: 0 16px;
    transition: all .2s;
}

nav .sidenav-trigger:hover {
    background: #ffffff25;
}

.sidenav a {
    transition: all .2s;
}

.top-button {
    position: fixed;
    bottom: 4vh;
    right: 4vh;
}

.brand-logo {
    padding: 0 32px !important;
    transition: all .2s;
}

.brand-logo:hover {
    background: #ffffff25;
}

.col {
    transition: all .2s;
}

.container {
    transition: all .2s;
}

.card-content h5 {
    margin-top: 0;
}

.sub-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-heading {
    font-size: 2.25em;
    padding: .125em .25em;
    border-bottom: .06em solid #000;
}

.page-footer {
    padding-top: 0;
    background: transparent;
}

.footer-copyright {
    background: $gradient;
}

.page-footer .footer-copyright {
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-flex>* {
    margin: 8px;
    color: #fff;
}

.materializecss-form .input-field {
    margin-bottom: 0;
}

.materializecss-form p, .materializecss-form ul {
    color: #666;
    margin: 0 0 4px 0;
}

.materializecss-form .help-block {
    color: rgb(255, 87, 87) !important;
    margin: 0;
}

.materialboxed:hover:not(.active) {
    opacity: 1;
}

.middle {
    margin-top: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardhold {
    padding: .6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 12px #00000088;
    box-shadow: 4px 4px 12px #00000088;
}

#login-btn,
#logout-btn
 {
    margin-right: 1em;
}

.popup {
    height: 2em;
    transform: translateY(-50vh);
    overflow: hidden;
    transition: all .5s;
}

table td, table th {
    text-align: center;
    font-size: .7em;
    border: 1px solid rgb(187, 187, 187);
    min-width: 6.4rem;
}

table tr:nth-child(odd) {
    background: #eee
}

.English {
    background: rgb(217, 226, 243);
}

.Maths {
    background: rgb(251, 228, 213);
}

.Nepali {
    background: rgb(237, 237, 237);
}

.Chemistry {
    background: rgb(255, 242, 204);
}

.Physics {
    background: rgb(226, 239, 217);
}

.join-btn {
    line-height: 2em;
    height: 2em;
    padding: 0 1em; 
}

.p_teacher {
    border: 1px solid;
    border-radius: 8px;
    margin: auto;
    width: auto;
    display: inline-block;
    padding: .4em;
    padding-top: 0;
}

.routine {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
}

.routine::after, .routine::before  { content: ''; min-width: 24px; }

.overflow-margin {
    flex: 1;
    margin: 1.5rem 0;
}

.bold {
    font-family: 'Product Sans Bold';
}

hr {
    margin: 1.2rem 0 .6rem 0;
    border: 1px #ccc solid;
}

td a.z-depth-2 {
    padding: .2rem 1rem;
    line-height: 2;
    margin: 1rem 0;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
}

.card-content.flow-text {
    font-size: 1.6em;
}

.dashain-text {
    font-family: 'Product Sans Bold';
    font-size: 3rem;
    text-align: center;
    // padding: .125em .25em;
}

.item {
    margin-bottom: 0;
}

#contact {
    margin-top: 1em;
}