// $gradient: linear-gradient(90deg, #3498db, #8e44ad);

:root {
    --clr-page-background: #eee;
    --gradient-pos: left;
    --clr-tr: #eee;
    --clr-English: rgb(217, 226, 243);
    --clr-Maths: rgb(251, 228, 213);
    --clr-Nepali: rgb(237, 237, 237);
    --clr-Chemistry: rgb(255, 242, 204);
    --clr-Physics: rgb(226, 239, 217);
    --clr-Lunch: rgb(239, 229, 247);
    --clr-cardhold: #fff;
    --clr-card: #fff;
    --clr-text: #000;
    --clr-disabled-text: #9F9F9F;
    --clr-disabled-background: #DFDFDF;
    --clr-toast-error-bg: #ffebee;
    --clr-toast-success-bg: #f1f8e9;
    --clr-toast-info-bg: #e3f2fd;
    --clr-toast-error-txt: #f44336;
    --clr-toast-success-txt: #4caf50;
    --clr-toast-info-txt: #3f51b5;
}

.darkmode {
    --clr-page-background: #212121;
    --gradient-pos: right;
    --clr-tr: #222;
    --clr-English: rgb(12, 41, 95);
    --clr-Maths: rgb(107, 65, 37);
    --clr-Nepali: rgb(92, 92, 92);
    --clr-Chemistry: rgb(99, 77, 13);
    --clr-Physics: rgb(55, 85, 34);
    --clr-Lunch: rgb(69, 22, 107);
    --clr-cardhold: #444;
    --clr-card: #424242;
    --clr-text: rgb(223, 223, 223);
    --clr-disabled-text: #424242;
    --clr-disabled-background: #7e7e7e;
    --clr-toast-error-bg: #b71c1c;
    --clr-toast-success-bg: #33691e;
    --clr-toast-info-bg: #0d47a1;
    --clr-toast-error-txt: #fff;
    --clr-toast-success-txt: #fff;
    --clr-toast-info-txt: #fff;
}

.gradient,
nav,
.footer-copyright {
    background: linear-gradient(to right, #3498db, #8e44ad 34%, #333 65%);
    ;
    background-size: 300%;
    transition: .5s;
}

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #9b27b02f;
}

::-webkit-scrollbar-thumb {
    background: #9b27b079;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .05);
}

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Product Sans', sans-serif;
}

.row {
    margin: 0;
}

#page-container {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

#content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-panel p {
    margin: 0;
}

.card-panel .title {
    font-size: 1.8rem;
    margin-bottom: .2em;
}

.card-panel .content {
    font-size: 1.2rem;
}

.card-link {
    text-align: right;
    padding-top: .2rem;
}

.card-link a {
    margin-top: .5em;
}

.card,
.card-panel {
    border-radius: 1.5em;
}

.card-panel {
    margin: 1.5rem 0;
}

.card-action {
    background: transparent !important;
}

.btn {
    border-radius: 10px;
}

.normal-link:hover {
    text-decoration: underline;
}

@keyframes move-up {
    50% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 0;
        transform: translateY(-30vh) scale(1.25);
    }
}

.navbar-fixed {
    height: calc(56px + env(safe-area-inset-top));
}

@media only screen and (min-width: 601px) {
    .navbar-fixed {
        height: calc(64px + env(safe-area-inset-top));
    }
}

nav {
    width: 100%;
    height: calc(56px + env(safe-area-inset-top));
    line-height: 56px;
    padding: env(safe-area-inset-top) 0 0 0;
    opacity: .95;
    font-family: 'Product Sans Bold', sans-serif;
    // transition: all .375s 1.25s cubic-bezier(0.145, 0.865, 0.570, 0.940);
}

@media only screen and (min-width: 601px) {

    nav,
    nav .nav-wrapper i,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
        line-height: 64px;
        height: calc(64px + env(safe-area-inset-top));
    }
}

.brand-logo {
    padding: 0 32px !important;
    transition: all .2s;
}

.brand-logo:hover {
    background: #ffffff25;
}

.col {
    transition: all .2s;
}

.container {
    transition: all .2s;
}

.page-footer {
    padding-top: 0;
    background: transparent;
}

.page-footer .footer-copyright {
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-flex>* {
    margin: 8px;
    color: #fff;
}

.middle {
    margin-top: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardhold {
    padding: .6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 12px #00000088;
    box-shadow: 4px 4px 12px #00000088;
}

#login-btn,
#logout-btn {
    margin-right: 1em;
}

.popup {
    height: 2em;
    transform: translateY(-50vh);
    overflow: hidden;
    transition: all .5s;
}

table {
    margin-top: .3em;
}

table td,
table th {
    text-align: center;
    font-size: .7em;
    border: 1px solid rgb(187, 187, 187);
    min-width: 6.4rem;
}

.join-btn {
    line-height: 2em;
    height: 2em;
    padding: 0 1em;
}

.p_teacher {
    border: 1px solid;
    border-radius: 8px;
    margin: auto;
    width: auto;
    display: inline-block;
    padding: .4em;
    padding-top: 0;
}

.routine {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
}

.routine::after,
.routine::before {
    content: '';
    min-width: 24px;
}

.overflow-margin {
    flex: 1;
    margin: 1.5rem 0;
}

.bold {
    font-family: 'Product Sans Bold';
}

hr {
    margin: 1.2rem 0 .6rem 0;
    border: 1px #ccc solid;
}

td a.z-depth-2 {
    padding: .2rem 1rem;
    line-height: 2;
    margin: 1rem 0;
    border-radius: 1rem;
}

.card-content.flow-text {
    font-size: 1.6em;
}

.notice-text {
    font-family: 'Product Sans Bold';
    font-size: 2.4rem;
    text-align: center;
    // padding: .125em .25em;
}

.item {
    margin-bottom: 0;
}

#contact {
    margin: 1em 0 2em 0;
}

td a.z-depth-2,
input {
    transition: all .2s, color .5s;
}

#page-container,
.card,
.card-panel {
    transition: all .2s, background-color .5s, color .5s;
}

th,
td,
tr,
html {
    transition: background-color .3s;
}

.toast-msg.error,
.toast-msg.success,
.toast-msg.info {
    transition: background-color .5s, color .5s;
}

// Dark mode
.gradient,
nav,
.footer-copyright {
    background-position: var(--gradient-pos);
}

table tr:nth-child(odd) {
    background: var(--clr-tr);
}

.English {
    background: var(--clr-English);
}

.Maths {
    background: var(--clr-Maths);
}

.Nepali,
.Botany,
.Zoology,
.Biology {
    background: var(--clr-Nepali);
}

.Chemistry {
    background: var(--clr-Chemistry);
}

.Physics {
    background: var(--clr-Physics);
}

.Lunch {
    background: var(--clr-Lunch);
}

#page-container,
html {
    background: var(--clr-page-background);
}

.cardhold {
    background: var(--clr-cardhold);
}

.card,
.card-panel {
    background: var(--clr-card);
    color: var(--clr-text);
}

input,
textarea,
td a.z-depth-2,
.failed-to-load {
    color: var(--clr-text);
}

a.disabled.both-mode {
    background-color: var(--clr-disabled-background) !important;
    color: var(--clr-disabled-text) !important;
}

.toast-msg.error {
    background-color: var(--clr-toast-error-bg);
    color: var(--clr-toast-error-txt);
}

.toast-msg.success {
    background-color: var(--clr-toast-success-bg);
    color: var(--clr-toast-success-txt);
}

.toast-msg.info {
    background-color: var(--clr-toast-info-bg);
    color: var(--clr-toast-info-txt);
}

.title .regular {
    color: #32CD32
}

.title .temporary {
    color: #FF7F50
}

// .fullscreen-overlay {
//     pointer-events: none;
//     opacity: 0;
//     position: absolute;
//     background-color: #000;
//     z-index: -1;
//     transition: opacity .4s;
// }

// .fullscreen-overlay.show {
//     opacity: .5;
//     top: -1000px;
//     left: -1000px;
//     height: 1000vw;
//     width: 1000%;
// }

.routine-iframe-holder {
    position: relative;
    height: 50vh;
}

.routine-iframe-holder.fullscreen_anim {
    animation: fulscreen-enter-1 .2s ease-in, fulscreen-enter-2 .2s .2s ease-out, fixed-p 0s .4s;
    animation-fill-mode: forwards;
}

.routine-iframe-holder.fullscreen {
    position: fixed;
}

.routine-iframe-holder.fullscreen_exit {
    animation: fulscreen-exit-1 .2s ease-in, fulscreen-exit-2 .2s .2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fulscreen-enter-1 {
    from {
        z-index: 998;
        position: static;
        transform: scale(1);
        box-shadow: none;
    }
    
    to {
        z-index: 998;
        position: static;
        transform: scale(1.2);
        box-shadow: 5px 5px 100px #000;
    }
}

@keyframes fulscreen-enter-2 {
    from {
        z-index: 998;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(.8);
        box-shadow: 15px 15px 128px #000;
    }

    to {
        z-index: 998;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(1);
        box-shadow: 15px 15px 128px #000;
    }
}

@keyframes fulscreen-exit-1 {
    from {
        z-index: 998;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(1);
        box-shadow: 15px 15px 128px #000;
    }

    to {
        z-index: 998;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(.8);
        box-shadow: 15px 15px 128px #000;
    }
}

@keyframes fulscreen-exit-2 {
    from {
        z-index: 998;
        height: 50vh;
        position: static;
        transform: scale(1.2);
        box-shadow: 5px 5px 100px #000;
    }

    to {
        z-index: 0;
        height: 50vh;
        position: static;
        transform: scale(1);
        box-shadow: none;
    }
}

#routine-iframe {
    width: 100%;
    height: 100%;
}

.countdown-card table td {
    font-size: 1.1em;
}

.today-online-routine-table .width{
    min-width: 7em;
}